:root {
	--header-image: url('../img/header.jpg');
	--body-bg-image: url('../img/acGrass.png');

	/* colors */
	--olivine: #9DBD89; /* safe on poly green, NOT lavender*/
	--poly-green: #384B35;
	--pale-purple: #C1B7F6; /* safe on poly green & lavender*/
	--lavender: #51428c;
	--black: #181F1C;
	--silver: #AAAAAA;
	--smoke: #F4F4F4;
}

/* this seems like a lot for just one font and I would have to agree
but I wanted to include an example of how to include a custom font.
If you download a font file you can upload it onto your Neocities
and then link it! Many fonts have separate files for each style
(bold, italic, etc. T_T) which is why there are so many!
*/

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

/* My Fonts */
@font-face {
	font-family: Arcade;
	src: url('../font/CthulhumbusArcade.ttf');
}

@font-face {
	font-family: Venice;
	src: url('../font/VeniceClassic.ttf');
}

body {
	font-family: 'Venice', sans-serif;
	font-size: 1.35em;
	margin: 0;
	background-color: var(--olivine);
	background-size: 300px;
	color: var(--smoke);
	background-image: var(--body-bg-image);
}

* {
	box-sizing: border-box;
}

.aliased {
    image-rendering: pixelated;
}

/* Layout CSS */

#container {
	max-width: 900px;
	/* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
	margin: 0 auto;
	text-decoration: none;
}

#container a {
	color: var(--pale-purple);
}
#container a:hover {
	color: var(--smoke);
}

#headerText{
	font-size: 3.5em;
	font-family: 'Arcade', sans-serif;
	-webkit-text-stroke: 1px var(--black);
	text-decoration: none;
}

#header {
	width: 100%;
	background-color: var(--lavender);
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* if you want to put images IN the header,
you can add them directly to the <div id="header"></div> element! */
	background-image: var(--header-image);
	background-position: center;
	background-size: 100%;
	text-align:center;
}

#header a:hover{
	color:var(--olivine);
}

.center{
	text-align:center;
}

/* Navbar */

#navbar {
	background-color: var(--black);
	background-image: url("../img/gravel.png");
	width: 100%;
	padding: 10px 0px;
}

#navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
}

#navbar li {
	padding: 0px 15px;
}

#navbar li a {
	color: var(--smoke);
	font-weight: 800;
	text-decoration: none;
}

#navbar .dropdown li {
	padding: 5px 15px;
}

#navbar li a:hover,
#navbar li a:focus {
	color: var(--silver);
	text-decoration: underline;
}

#navbar ul li ul { /* sub-menu */
	background-color: var(--black);
	background-image: url("../img/gravel.png");
	visibility: hidden;
	opacity: 0;
	display: none;
	min-width: 10rem;
	position: absolute;
	padding: 10px 0px;
	margin: 0px -20px;
	z-index: 3;
}

#navbar ul li:hover > ul, /* make sub-menu viisble on hover/focus */
#navbar ul li ul:focus
#navbar ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#navbar ul li:focus-within > ul { /* ditto but further browser compatibility */
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 10px 0px;
  margin: 0px -20px;
}

#navbar ul li ul li { /* sub-menu items */
	clear: both;
	width: 100%;
}

#flex {
	display: flex;
}

aside {
	background-color: var(--poly-green);
	background-image: url("../img/buried.png");
	width: 275px;
	padding: 20px;
	font-size: smaller;
}

main {
	background-color: var(--lavender);
	background-image: url("../img/leaf.png");
	flex: 1;
	padding: 20px;
	order: 2;
}

#leftSidebar {
	order: 1;
}

#rightSidebar {
	order: 3;
}

footer {
	background-color: #13092D;
	background-image: url("../img/gravel.png");
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
}

h1{
	color: var(--pale-purple);
	font-size: 1.75em;
}

main h2,
main h3 {
	color: var(--pale-purple);
}

h2,
h3 {
	color: var(--olivine);
	margin-bottom: 0px;
}

h2 + p,
h3 + p {
	margin-top: 0px;
}

strong {
	color: var(--smoke);
}

summary {
	margin-bottom: 18px;
}

a{
	height: fit-content;
	width: fit-content;
}

.links {
  border-collapse: collapse;
  width: 100%;
}

.links td, .links th {
  border: 3px dotted var(--pale-purple);
  text-align: left;
  padding: 8px;
}

.links th {
	background: var(--pale-purple);
	color: var(--lavender);
}

.links img {
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.links a {
	display: flex;
	text-align: center;
	margin: auto;
	width: fit-content;
}

.box {
	border: 1px solid var(--olivine);
	height: 300px;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: scroll;
}

.comment {
	color: var(--olivine);
}

.full-height {
    height: 50vh;
}

.skipper{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.skipper:focus{
	position:static;
	width:auto;
	height:auto;
	font-size: 2em;
}

/* CSS for extras */

#TV {
	float:left;
	margin-right: 0.625em;
	margin-top: .625em
}

ul {
	list-style-image: url("https://i.ibb.co/j4Y7r5c/Flower-Bullet.png");
	image-rendering: pixelated;
	padding-left: 15px;
}

ul > ul {
	padding-left: 40px;
}

.exception li {
	list-style-image: none;
}

a[href^="http"]:not(:has(img))::after { 
    content: "";
    height: .75em;
	width: .75em;
	margin-bottom: -3px;
    display: inline-block;
    background-color: var(--pale-purple);
    mask-image: url("/img/icons8-external-link.svg");
    mask-repeat: no-repeat;
    mask-position: center;
	mask-size: contain;
    -webkit-mask-image: url("/img/icons8-external-link.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
	-webkit-mask-size: contain;
}

a[href^="https://friendshapedplant.neocities.org"]::after { 
    content: none;
}

#navbar a::after{
	background-color: var(--smoke)!important;
}


/* Mobile Formatting (Media Query) */

/* so you wanna change the width of your page?
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the
"max-width" value below
*/

@media only screen and (max-width: 1200px) {
	.fun {display: none;}
}

@media only screen and (max-width: 800px) {
	#flex {
		flex-wrap: wrap;
	}

	aside {
		width: 100%;
	}

	main {
		order: 2;
	}

	#leftSidebar {
		order: 3;
	}

	#rightSidebar {
		order: 1;
	}

	#headerText{
		font-size: 2.5em;
	}

	#navbar ul {
		flex-wrap: wrap;
	}

	#neolink{
		width: 50%;
	}
	
	table.links tr td:nth-child(2),
	table.links tr th:nth-child(2) {
		display: none;
	}

}
@media only screen and (max-width: 500px) {
	#TV {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
