#photos {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#photos figure {
  margin: 10px;
  max-width: min-content;
}

#photos img {
  max-height: 280px;
  max-width: 100%;
}

#photos img:hover { border-color: #9DBD89; }

#photos span {
  text-align: center;
  display: block;
}

.page-links { text-align: center; }

.page-links ul {
  padding: 0px 5px;
  display: inline-block;
  margin: 10px 0px;
}
.page-links li {
  list-style: none;
  display: inline;
  margin: 0px 3px;
}

@media (max-width: 800px) {
    #photos figure { 
        max-width: 100%; 
        display: table; 
    }
    #photos figcaption {
        display: table-caption;
        caption-side: bottom;
        text-align: center;
    }
}

/* Thumbnail spoiler */
div.spoiler {
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

div.spoiler img {
	vertical-align: bottom;
	filter: blur(8px) grayscale(100%);
	transition: 0.3s;
}

.spoiler-button {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	width: fit-content;
	padding: .75rem;
	font-size: 1.25rem;
  font-family: 'Venice', fantasy, serif;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (scripting: none) {
	.spoiler-button {
		display: none;
	}
}

div.nospoiler img {
	filter: none;
}

div.nospoiler button {
	display: none;
}